*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}


.page{
    background:no-repeat url('../assets/images/bg-sidebar-mobile.svg') hsl(207, 85%, 89%);
    height: fit-content;
    .steps{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .step{
            width: 2.2rem;
            height: 2.2rem;
            margin: 3rem .8rem 1.2rem;
            border-radius: 100%;
            border:.05rem solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .active{
            background-color: hsl(207, 85%, 89%);
            color: black;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn_section{
            background-color: rgb(255, 255, 255);
            height: 15dvh;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1.5rem;
            position: relative;
            bottom: 0rem;
            a{
                // text-decoration: none;
                color: hsl(231, 11%, 63%);
            }
            .btn{
                background-color:  hsl(213, 96%, 18%);
                border:none;
                width:100px;
                border-radius: 5px;
            }
        }
    }
}
@media screen and (min-width:650px) {
body{
    background:no-repeat url('../assets/images/bg-sidebar-desktop.svg');
    .page{
        height: 70dvh;
        .steps{
                
                .step{
                    width: 2.2rem;
                    height: 2.2rem;
                    margin: 3rem .8rem 1.2rem;
                    border-radius: 100%;
                    border:.05rem solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
                .active{
                    background-color: hsl(207, 85%, 89%);
                    color: black;
                }
            }
        }
    }
}
