.finishingUp{
    margin: 0 auto;
    padding: 1.5rem 1.3rem ;
    width: 90%;
    height: fit-content;
    background-color: white;
    border-radius: 0.8rem;
    h2{
        font-weight: 700;
        color: hsl(213, 96%, 18%);
    }
    p{
        color: hsl(231, 11%, 63%);
    }

    .conclusion{
        background-color: rgb(241, 250, 255);
        border-radius: 1rem;
        padding: 1rem 1rem;
    }
    .arrange{
        display: flex;
        justify-content: space-between;
    }
}