.registration{
    margin: 0 auto;
    padding: 1.5rem 1.3rem 2.2rem;
    width: 100%;
    height: fit-content;
    // background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    h2{
        font-weight: 700;
        color: hsl(213, 96%, 18%);
    }
    p{
    color: hsl(231, 11%, 63%);
    }
    span{
        color: red;
        float: right;
    }
}
@media screen and (min-width:620px) {
    .registration{
        margin: 0;
    }
}
